{% extends 'base.html' %}

{% block head %}
<title>FlaskBlog users</title> 
{% endblock %}

{% block body %}
    {% include '_messages.html' %}
    <h3>FlaskBlog Users:</h3>
        <table class="table table-sm table-condensed">
            <thead class="thead-light"> 
                <th>#</th>
                <th>Userpic</th>
                <th>Username</th>
                <th>Follow</th>
                <th>Is online</th>
                <th>Followers</th>
                <th>Posts</th>
            </thead>
            {% for user in all_users %}
    
            <tbody>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{url_for('profile', username=user.username)}}">
                        <img src="{{url_for('static', filename='images/userpics/' + user.userpic)}}" width="auto" height="50px">
                    </a>
                </td>
                <td><a href="{{ url_for('user', username=user.username) }}">{{ user.username }}'s wall</a></td>
                {% if current_user in flwrs_dict[user.id] %}
                    <td><a href="{{ url_for('follow_user', username=user.username) }}">Unfollow</a></td> 
                {% else %}
                    <td><a href="{{ url_for('follow_user', username=user.username) }}">Follow</a></td>
                {% endif %}
                {% if user == current_user %}
                    <td style="color: Yellow">Online</td>
                {% else %}
                    <td>Offline</td>
                {% endif %}

                <td>{{ all_followers_of_user(user.id)|length }}</td>
                <td>{{ all_posts_by_author(user.id)|length }}</td>
            </tbody>
            {% endfor %}
        </table>

{% endblock %}