{% extends 'base.html' %}

{% block head %}
<title>FlaskBlog - all posts</title> 
{% endblock %}

{% block body %}

    {% include '_messages.html' %}
    <div class="container">
        <h1 class="text-center">Feed</h1>
    </div>

    {% if all_posts|length <1 %}
        <div class="container p-3 my-3 border">
            <h3 style="text-center">There is nothing here yet</h3>
        </div>
    {% endif %}
    {% for post in all_posts %}
        <div class="container p-3 my-3 border">
            <h2 class="subheading">{{ post.post_title }}</h2>
            <span class="">
                <p>
                    Posted by 
                    <a href="{{url_for('profile', username=post.post_author_username)}}">{{post.post_author_username}}</a> on {{ post.post_date_added.strftime('%B %d, %Y') }}:</p>
            </span>
            <hr>
                <p>{{ post.post_content }}</p>
            <div class="row">
                <div class="col-sm-8"></div>

                {% if current_user.id != post.post_author_id %}
                    <div class="col-sm-1 text-right"><a href="{{url_for('like_post', id=post.id)}}" class="btn btn-info btn-sm">Like({{post.post_likes_qty}})</a></div>
                    <div class="col-sm-1 text-right"><a href="{{url_for('discuss_post', id=post.id)}}" class="btn btn-info btn-sm">Discuss</a></div>

                {% else %}
                    <div class="col-sm-1 text-right"><a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-info btn-sm">Delete</a></div>
                    <div class="col-sm-1 text-right"><a href="{{url_for('like_post', id=post.id)}}" class="btn btn-info btn-sm">Like({{post.post_likes_qty}})</a></div>
                    <div class="col-sm-1 text-right"><a href="{{url_for('discuss_post', id=post.id)}}" class="btn btn-info btn-sm">Discuss</a></div>

                {% endif %}

            </div>    
        </div>
    {% endfor %}

{% endblock %}