{% extends 'base.html' %}

{% block head %}
    <title>Log in</title>
{% endblock %}

{% block body %}

    <form action='' method='POST' class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please log in</h1>
        {% include '_messages.html' %}
        <input id="username" name='username' class="form-control" placeholder="e-mail or username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name='password' class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-info btn-block mt-3" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy Evgeny Stepanchenko, 2021</p>        
    </form>

{% endblock %}