{% extends 'base.html' %}

{% block head %}
<title>Edit profile</title> 
{% endblock %}


{% block body %}
    {% include '_messages.html' %}

    <form action='{{ url_for('profile_edit', username=user_to_edit.username) }}' method='POST' class="form-signin" enctype="multipart/form-data">
        <h3 class="h3 mb-3 font-weight-normal text-center">Update the information about you</h3>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <input id="username" name='username' class="form-control" value="{{user_to_edit.username}}" required autofocus>
                    <input type="email" id="email" name='email' class="form-control" value="{{user_to_edit.email}}" required autofocus>
                    <input type="password" id="password" name='password' class="form-control" placeholder="Input your password to submit" required minlength="5">

                    {% if user_to_edit.firstname|length < 1 %}
                        <input type="text" id="firstname" name='firstname' class="form-control" placeholder="Your first name" autofocus>
                    {% else %}
                        <input type="text" id="firstname" name='firstname' class="form-control" value="{{user_to_edit.firstname}}" autofocus>
                    {% endif %}
                    {% if user_to_edit.lastname|length < 1 %}
                    <input type="text" id="lastname" name='lastname' class="form-control" placeholder="Your last name" autofocus>
                    {% else %}
                    <input type="text" id="lastname" name='lastname' class="form-control" value="{{user_to_edit.lastname}}" autofocus>
                    {% endif %}
                    {% if user_to_edit.city|length < 1 %}
                    <input type="text" id="city" name='city' class="form-control" placeholder="Your city" autofocus>
                    {% else %}
                    <input type="text" id="city" name='city' class="form-control" value="{{user_to_edit.city}}" autofocus>
                    {% endif %}
                    <input type="date" id="birthdate" name='birthdate' class="form-control" value="{{user_to_edit.birthdate}}" autofocus>
                    {% if user_to_edit.is_confirmed %}
                        <input type="text" id="is_confirmed" name='is_confirmed' class="form-control" value="Your email is confirmed" autofocus disabled>
                    {% else %}
                        <input type="text" id="is_confirmed" name='is_confirmed' class="form-control" value="Please confirm your email" autofocus disabled>
                        <p><a href="{{ url_for('send_confirmation_email', email_address=user_to_edit.email) }}">Send confirmation email</a></p>
                    {% endif %}
                    
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/userpics/' + user_to_edit.userpic) }}" width="73%" height="auto" alt="{{ user_to_edit.userpic }} userpic">
                    <br>
                    <label class="btn btn-info mt-2" style='vertical-align: bottom'>
                        Change userpic <input type="file" id="userpic" name="userpic" hidden>
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-info btn-block mt-2" type="submit" style="width: 100%">Submit</button>
      </form>
{% endblock %}