{% extends 'base.html' %}

{% block head %}
<title>User page(wall)</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}


{% block body %}

    {% include '_messages.html' %}
    <div class="container">
        <h1 class="text-center">{{ post_host.username }}'s wall</h1>

        <div class="row">

            <div class="col-sm-10"></div>
            {% if current_user.username != post_host.username %}
                {% if current_user in d[post_host.id] %}
                    <div class="col-sm-2 text-right"><a href="{{url_for('follow_user', username=post_host.username)}}">Unfollow {{ post_host.username }}</a></div>
                {% else %}
                    <div class="col-sm-2 text-right"><a href="{{url_for('follow_user', username=post_host.username)}}">Follow {{ post_host.username }}</a></div>
                {% endif %}
            {% endif %}

        </div>

        <div class="row">

            <div class="col-sm-9"></div>
            <div class="col-sm-2 text-right">
                <a id="toggleLink" href="javascript:void(0);" onclick="viewdiv('show_followers');" data-text-show="Hide" data-text-hide="Show followers">
                    followers ({{ all_followers|length }})
                </a>
                <div class="col-sm-2 text-right" id="show_followers" style="display:none;">
                    {% for follower in all_followers %}
                        <h1>{{ follower.username }}</h1>
                    {% endfor %}
                </div>
    
            </div>
        </div>

        {% if current_user.id == post_host.id %}
            <a id="toggleLink" href="javascript:void(0);" onclick="viewdiv('mydiv');" data-text-show="Hide" data-text-hide="Write a new post">
                Write a new post
            </a>
        {% endif %}
    </div>
    <div id="mydiv" style="display:none;">
        <div class="container-sm">
            <form action='/users/{{post_host.username}}/wall' method='POST' class="form-signin">
                {% include '_messages.html' %}
                <input id="post_title" name='post_title' class="form-control" placeholder="Your post title" required autofocus>
                <textarea class="form-control rounded-0" name='post_content' id="post_content" rows="3" placeholder="Put some clever thoughts here" required></textarea>
                <button class="btn btn-lg btn-info btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% if all_posts|length <1 %}
        <div class="container p-3 my-3 border">
            <h3 style="text-center">There is nothing here yet</h3>
        </div>
    {% endif %}
    {% for post in all_posts %}
    <div class="container p-3 my-3 border">
        <h2 class="subheading">{{ post.post_title }}</h1>
        <span class="">
            <p>Posted by {{post_host.username}} on {{ post.post_date_added.strftime('%B %d, %Y') }}:</p>
        </span>
            <p>{{ post.post_content }}</p>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 text-right"><a href="{{url_for('like_post', id=post.id)}}">Like({{post.post_likes_qty}})</div>
            <div class="col-sm-2 text-right"><a href="{{url_for('discuss_post', id=post.id)}}">Discuss</a></div>
            {% if current_user in d[post.post_author_id] %}
                <div class="col-sm-2 text-right"><a href="{{url_for('follow_user', username=post.post_author_username)}}">Unfollow</a></div>
            {% else %}
                <div class="col-sm-2 text-right"><a href="{{url_for('follow_user', username=post.post_author_username)}}">Follow</a></div>
            {% endif %}
        </div>    
    </div>
    {% endfor %}

    <script>
        function viewdiv(id) {
            var el = document.getElementById(id);
            var link = document.getElementById('toggleLink');
            if (el.style.display == "block") {
                el.style.display = "none";
                link.innerText = link.getAttribute('data-text-hide');
            } else {
                el.style.display = "block";
                link.innerText = link.getAttribute('data-text-show');
            }
        }

    </script>


{% endblock %}